.App {
  text-align: center;
  font-family: 'muli', sans-serif;
}

.clearfix {
  overflow: auto;
}

.header {
  background-color: #282c34;
  color: white;
  padding: 10px 0px;
}

.body {
  margin: 15px 30px;
}

.add-receipt-btn {
  float: left;
  margin: 10px;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  background-color: white;
  padding: 6px 8px;
  font-size: 1em;
  box-shadow: none;
}

.add-receipt-btn:hover, .add-receipt-btn:focus {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgb(0, 0, 0, 0.17);
}

.modal-header {
  background-color: #eaeaea;
  padding: 10px;
}

.modal-title {
  float: left;
}

.closeBtn {
  color: rgb(151, 151, 151);
  float: right;
}

.closeBtn:hover, .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  background-color: #f4f4f4;
  margin: 10% auto;
  width: 30%;
  text-align: left;
}

.report-total {
  float: right;
  margin: 10px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.receipt-container {
  display: grid;
  grid-template-columns: 3fr 5fr;
  height: 100%;
}



.remove-item-btn {
  background: none;
  box-shadow: none;
  border-width: 0px;
}

.remove-item-btn:hover, .remove-item-btn:focus {
  cursor: pointer;
}

.receipt {
  position: relative;
  display: inline-block;
  padding: 12px;
  margin: 5px 15px;
}

.receipt:hover {
  background-color: #eaeaea;
}

.receipt:hover .remove-item {
  display: block;
}

.remove-item {
  padding-top: 7px;	
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
  display: none;
}

.file-img-container {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 3px;
  height: 100px;
  width: 85px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.file-image {
  font-size: 4em;
}

.details {
  text-align: left;
  margin-left: 10px;
}

.detail {
  margin: 3px;
}

.name {
  font-size: .8em;
}

.date {
  font-size: .7em;
}

.category {
  font-size: .7em;
  background-color: #c5c5c5;
  padding: 3px 8px;
  border-radius: 4px;
  display: inline-block
}

.category:empty {
  display: none;
}

.description {
  font-size: .7em;
}

.description:empty {
  display: none;
}

*:focus {
  outline: 0 !important;
}

/*Mobile*/
@media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 768px) {

      .container {
        display: grid;
        grid-template-columns: auto auto auto;
      }

    }

/*Tablets*/
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) {

      .container {
        display: grid;
        grid-template-columns: auto auto auto auto;
      }  

    }

/* Desktops & Laptops*/
@media only screen 
    and (min-width : 1224px) {

    

    }
    